# PORT = 3000
# DATABASE_URL="localhost"
# DATABASE_URL="postgres"
# DATABASE_PORT = 5432
# DATABASE_USER="user"
# DATABASE_PASSWORD = "password" 
# LOGGER_TYPE="json"
# JWT_SECRET="my_super_secret_key"
# JWT_REFRESH_SECRET="my_refresh_secret_key"
# JWT_EXPIRES_IN=15m
# JWT_REFRESH_EXPIRES_IN=7d
# BOT_TOKEN=""
# CORS_ORIGIN=""


# Яндекс (пример)
#EMAIL_HOST=smtp.yandex.ru
#EMAIL_PORT=465
#EMAIL_SECURE=true
#EMAIL_USER=your-email@yandex.ru
#EMAIL_PASSWORD=your_app_password_here
#EMAIL_FROM=noreply@yourapp.com
#EMAIL_FROM_NAME=MyApp
#ORDER_NOTIFY_EMAIL=notify@yandex.ru

# DEBUG=*