# DATABASE_DRIVER="mongodb"
# DATABASE_URL="mongodb://localhost:27017/filmDB"

#DATABASE_DRIVER="postgres"
# DATABASE_URL="localhost"
# DATABASE_URL="postgres"
# DATABASE_PORT = 5432
# DATABASE_USER="user"
# DATABASE_PASSWORD = "password" 
# LOGGER_TYPE="json"
# JWT_SECRET="my_super_secret_key"
# JWT_REFRESH_SECRET="my_refresh_secret_key"
# JWT_EXPIRES_IN=15m
# JWT_REFRESH_EXPIRES_IN=7d

# DEBUG=*