.order-info-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 5px;
  min-width: 100%;
}

.order-info-form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

 .input_form{
  width: 100%;
  color: var(--main-font-color);
  background-color: var(--main-background-color);
  padding: 7px 0px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.input_form:focus,
.input_form:active, 
.input_form:focus-visible{
  outline: none;

}
.input_form:-webkit-autofill,
.input_form:-webkit-autofill:hover,
.input_form:-webkit-autofill:focus,
.input_form:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff !important;
  /* transition: background-color 5000s ease-in-out 0s; */
  box-shadow: inset 0 0 20px 20px #000; /* белый фон */
}
.input_form.error {
  border-color: #dc3545;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
  display: block;
}

.success {
  color: #28a745;
  margin-top: 10px;
}
