.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  width: 100%;
  max-width: 768px;
  height: 100vh;
  gap: 2em;
  background-color: black;
  color: #f2f2f3;
}