.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  width: 100%;
  max-width: 768px;
  min-height: 100vh;
  gap: 2em;
  background-color: var(--main-background-color);
  color: #f2f2f3;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}