.link{
  max-width: 100%;
}

.container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.tabs{
  display:flex;
  justify-content:space-between;
  margin-bottom:40px;

  color:var(--neon);
  font-weight:600;
}

.tabs .span{
  cursor:pointer;
  opacity:0.6;
}

.tabs .active{
  opacity:1;
  border-bottom:2px solid var(--neon);
  padding-bottom:6px;
}

.login-page{
  height:100vh;

  display:flex;
  align-items:center;
  justify-content:center;

  /* background-image:url("/background.jpg"); */
  /* background-size:cover; */
  /* background-position:center; */

  font-family:Arial, Helvetica, sans-serif;
}
.return-block{
  margin-top: 150px;
  width: 100%;
}

