.form label{
  display:block;
  color:var(--neon);
  font-size:14px;
  margin-top:25px;
}

.input{
  width: 100%;
  color: var(--main-font-color);
  background-color: var(--main-widget-background-color); 
  border: none;
  font-size: var(--font-size-large);
  text-align: center; 
  background:transparent;
  border-bottom:2px solid rgba(113,248,154,0.6);
  padding:8px 0;
  color:var(--neon);
  font-size: var(--font-size-large);
  outline:none;
  box-shadow: none;
  font-family: var(--button-font), sans-serif;
}

.input:focus,
.input:hover,
.input:active, 
.input:focus-visible{
  box-shadow: none;
  border: none;
  border-bottom:2px solid rgba(113,248,154,0.6);
  outline: none;
  background-color: var(--main-widget-background-color); 
}

.input:active{
  border: none;
  border-bottom:2px solid rgba(113,248,154,0.6);
  background-color: var(--main-widget-background-color); 
}

.input-unit-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid var(--main-font-color); */
  /* border-radius: 4px; */
  overflow: hidden;
}

.input-unit__label {
  /* padding: 2px; */
  background-color: var(--main-widget-background-color);
  color: var(--main-font-color);
  /* border-left: 1px solid var(--main-font-color); */
  font-size: var(--font-size-medium);
  font-size: var(--font-size-large);
  /* border-bottom:2px solid rgba(113,248,154,0.6); */
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input::placeholder {
  font-weight: bold;
  font-size: var(--font-size-medium);;
  opacity: 0.5;
  color: var(--main-font-color);
}